*~
*.bak
*.bpkg
*.gem
*.iml
*.ipr
*.iws
*.rbc
*.sublime-project
*.sublime-projectcompletions
*.sublime-workspace
*.swo
*.swp
*.tmp
*.tmproj
*.tmproject
*.un~
._*
.DS_Store
.DS_Store?
.bpm
.buildpath
.bundle
.classpath
.config
.idea
.loadpath
.metadata
.netrwhist
.procfile
.project
.redcar
.rvmrc
.settings
.vagrant
.Spotlight-V100
.Trashes
coverage
bin/autospec
bin/compass
bin/htmldiff
bin/ldiff
bin/lessc
bin/rackup
bin/rake
bin/rake2thor
bin/rakep
bin/redcarpet
bin/rspec
bin/sass
bin/sass-convert
bin/scss
bin/thor
bin/tilt
node_modules
npm-debug.log
public/css/app.css
public/js/app.js
public/js/app.min.js
tags
tmp/*
tmtags
Icon
Session.vim