*.bpkg
*.gem
*.rbc
.DS_Store
.bpm
.bundle
.config
.vagrant

bin/autospec
bin/compass
bin/htmldiff
bin/ldiff
bin/lessc
bin/rackup
bin/rake
bin/rake2thor
bin/rakep
bin/redcarpet
bin/rspec
bin/sass
bin/sass-convert
bin/scss
bin/thor
bin/tilt

tmp/*

public/app.css
public/app.js
public/app.min.js
