[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential
[submodule "cookbooks/phantomjs"]
	path = cookbooks/phantomjs
	url = https://github.com/customink-webops/phantomjs
[submodule "cookbooks/vim"]
	path = cookbooks/vim
	url = https://github.com/opscode-cookbooks/vim
[submodule "cookbooks/nodejs"]
	path = cookbooks/nodejs
	url = https://github.com/mdxp/nodejs-cookbook
